.app__download__container {
  width: 100%;
  background-color: #648cff;
  padding-top: 60px;
  background: url("/images/downloadbg.jpg") no-repeat bottom center scroll;
  @include background;
  .download__body {
    margin-top: 200px;
    .download__body__info {
      bottom: 120px;
      b {
        font-size: 25px;
        color: $font-color;
      }
      p {
        color: lightgray;
        padding-right: 160px;
        margin-top: 25px;
        line-height: 22px;
      }
      .download__store-box {
        margin-top: 45px
      }
    }
  }
}
