$brand-primary: darken(#428bca, 20%);
$margin:25px;
$font-color:#fff;
$reviews-font-primary: 'Roboto Slab', serif;
$reviews-font-secondary: 'PT Sans', sans-serif;
$quote-margin: -50px;
$quote-color:#648cff;
$quote-font-size:130px;
