<div class="container-fluid app__download__container">
    <div class="container download__body">
        <div class="row">
            <div class="download__body__info col-lg-5">
                <b>HOW TO DOWNLOAD THE APP?</b>
                <p>Just download the app from the store.
                    Simple, nice and user-friendly application of theweather. Only relevant and useful information.</p>
                <div class="download__store-box">
                    <a href="#">
                        <img class="" src="{{ asset('images/appstore.png') }}" alt="...">
                    </a>
                    <a href="#">
                        <img class="" src="{{ asset('images/googlePlay.png') }}" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>