<nav class="navbar navbar-default app__navbar__container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar__logo" href="#"><b>FUN WEATHER.</b></a>
    </div>
    <div class="collapse navbar-collapse navbar__list" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar__list-elemets__left">
            <li><a href="#">Home</a></li>
            <li><a href="{{ path('features') }}#info-box">Features</a></li>
            <li><a href="{{ path('reviews') }}#info-box">Reviews</a></li>
            <li><a href="#">Download</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar__list-elemets__right">
            <li><a href="#"><span><i class="fab fa-facebook-f fa-lg"></i></span></a></li>
            <li><a href="#"><span><i class="fab fa-instagram fa-lg"></i></span></a></li>
            <li><a href="#"><span><i class="fab fa-twitter fa-lg"></i></span></a></li>
        </ul>
    </div>
</nav>
