<div class="container-fluid app__footer">
    <div class="container footer__body">
        <div class="row">
            <div class="col-lg-3 footer__logo">
                <p class="footer__logo__element1">FUN</p>
                <p class="footer__logo__element2">WEATHER.</p>
            </div>
            <div class="col-lg-6 text-center footer__link-box">
                <a href="">Home</a>
                <a href="">Features</a>
                <a href="">Reviews</a>
                <a href="">Download</a>
            </div>
            <div class="col-lg-3 footer__icon-box">
                <a href="#"><span><i class="fab fa-facebook-f fa-lg"></i></span></a>
                <a href="#"><span><i class="fab fa-instagram fa-lg"></i></span></a>
                <a href="#"><span><i class="fab fa-twitter fa-lg"></i></span></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container col-lg-9 footer__trade-mark ">
        <p>© 2016 All rights reserved. Weather App Theme by Gravpix</p>
    </div>
</div>
