<div class="container app__features__container" id="info-box">
    <div class="text-center features__intro">
        <b>Perfect Features</b>
        <p>Only necessary</p>
    </div>
    <div class="row features__body-box">
        <div class="media col-lg-4 features__body-box__element">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ asset('images/usability.png') }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <b class="media-heading">Usability</b>
                <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
            </div>
        </div>
        <div class="media col-lg-4 features__body-box__element">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ asset('images/parallax.png') }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <b class="media-heading">Parallax Effect</b>
                <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
            </div>
        </div>
        <div class="media col-lg-4 features__body-box__element">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ asset('images/colors.png') }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <b class="media-heading">Unlimited Colors</b>
                <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
            </div>
        </div>
    </div>
</div>